<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tom ockerse editions</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{theme:js src='toe'}}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xgf7vfl.css">
    <link rel="stylesheet" href="{{ theme:css src='toe'}}">
</head>
<body>
    <div class=" container">
        <div class="home">
            <a href="/"><h2>tom ockerse editions</h2></a>
        </div>
        <div class="about">
            <a href="/about"><h2>about</h2></a>
        </div>
        <div class="contact">
                <a href="mailto:thomasockerse@gmail.com"><h2>contact</h2></a>
            </div>
        <!-- <div class="logo">
            <img height="408px" width="418px" src="../assets/img/logo.png" alt="">
        </div> -->
        <div class="main">
            {{ template_content }}
        </div>    

    </div>
</body>
</html>